In [1]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity, euclidean_distances, manhattan_distances
from sklearn.decomposition import TruncatedSVD
from sklearn.preprocessing import Normalizer
from sklearn.pipeline import make_pipeline


# Load the dataset
dataset_path = "https://raw.githubusercontent.com/Lokeshrajkp/Placement-Assignment_Lokeshraj-K-P/main/News_Category_Dataset_v3.json"
df = pd.read_json(dataset_path, lines=True)

In [2]:
## Import the necessary libraries:-
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity, euclidean_distances, manhattan_distances

In [3]:
df.head()

,link,headline,category,short_description,authors,date
0,https://www.huffpost.com/entry/covid-boosters-...,Over 4 Million Americans Roll Up Sleeves For O...,U.S. NEWS,Health experts said it is too early to predict...,"Carla K. Johnson, AP",2022-09-23
1,https://www.huffpost.com/entry/american-airlin...,"American Airlines Flyer Charged, Banned For Li...",U.S. NEWS,He was subdued by passengers and crew when he ...,Mary Papenfuss,2022-09-23
2,https://www.huffpost.com/entry/funniest-tweets...,23 Of The Funniest Tweets About Cats And Dogs ...,COMEDY,"""Until you have a dog you don't understand wha...",Elyse Wanshel,2022-09-23
3,https://www.huffpost.com/entry/funniest-parent...,The Funniest Tweets From Parents This Week (Se...,PARENTING,"""Accidentally put grown-up toothpaste on my to...",Caroline Bologna,2022-09-23
4,https://www.huffpost.com/entry/amy-cooper-lose...,Woman Who Called Cops On Black Bird-Watcher Lo...,U.S. NEWS,Amy Cooper accused investment firm Franklin Te...,Nina Golgowski,2022-09-22

In [4]:
# Select codata['text'] = data['headline'] + ' ' + data['short_description']lumns for analysis
data = df[['category', 'headline', 'short_description']]

In [5]:
data['text'] = data['headline'] + ' ' + data['short_description']

<ipython-input-5-e691dc75223f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['text'] = data['headline'] + ' ' + data['short_description']

In [6]:
# Vectorize the text data
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(data['text'])

In [7]:
# Function to find the most similar data using different similarity algorithms
def find_similar_data(query, top_n=5):
    # Vectorize the query
    query_vector = vectorizer.transform([query])

    # Calculate similarities using different algorithms
    cosine_sim = cosine_similarity(X, query_vector).flatten()
    euclidean_sim = euclidean_distances(X, query_vector).flatten()
    manhattan_sim = manhattan_distances(X, query_vector).flatten()


    # Combine similarities from different algorithms
    similarity_scores = (cosine_sim + euclidean_sim + manhattan_sim ) / 4

    # Find the indices of top similar data points
    top_indices = similarity_scores.argsort()[-top_n:][::-1]

    # Return the top similar data points
    similar_data = data.iloc[top_indices]

    return similar_data

In [8]:
query = "New iPhone X release date announced"
similar_data = find_similar_data(query)
print(similar_data)

         category                          headline  \
109802  WORLDPOST  Weekend Roundup: Laughing at God
66816    POLITICS                    Sunday Roundup
63109    POLITICS                    Sunday Roundup
107893   POLITICS                    Sunday Roundup
72892    POLITICS                    Sunday Roundup

                                        short_description  \
109802  The first principle of an open society is not ...
66816   This week the nation watched as the #NeverTrum...
63109   This week, the nation was reminded, in ways bo...
107893  This week began with "The Horrible Call" final...
72892   This week the GOP debate circus pulled into Mi...

                                                     text
109802  Weekend Roundup: Laughing at God The first pri...
66816   Sunday Roundup This week the nation watched as...
63109   Sunday Roundup This week, the nation was remin...
107893  Sunday Roundup This week began with "The Horri...
72892   Sunday Roundup This week the GOP debate circus...